html {
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  font-size: 75%;
}

body {
  margin: 0;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  text-decoration-skip: ink;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 2px;
}

h1 {
  font-size: 2em;
}

a {
  color: #00a9ed;
}

a:hover {
  color: #0477a5;
}

input[type="submit"],
button {
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 922px) {
  html {
    font-size: 95%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 105%;
  }
}
