.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0;
  align-items: flex-start;
  justify-content: left;
}
.gallery-item {
  margin: 0;
  padding: 8px;
}

.gallery-item img {
  max-height: 80px;
}

.gallery-caption {
  display: none;
}

@media (min-width: 768px) {
  .gallery-item img {
    max-height: 145px;
  }
}
