.search-result {
  background: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, .4);
  border: 1px solid #bac2c5;
  overflow-x: hidden;
  display: none;
  max-height: 380px;
  margin: 0;
  padding: 0 0 10px 0;
  list-style-type: none;
}

.search-result_active {
  display: block;
}

.search-result__group {
  display: none;
}

.search-result__group_active {
  display: block;
}

.search-result__caption {
  background: #e6e6e6;
  color: #7d7d7d;
  font-size: 14px;
  padding: 2px 10px;
}

.search-result__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-result__list a {
  display: block;
  padding: 5px 10px;
}

.search-result__item:nth-child(even) a {
  background: #f2f4f5;
}

.search-result__item_selected a,
.search-result__item_selected:nth-child(even) a {
  background: #00a9ed;
  color: #fff;
  text-decoration: none;
}
