.wp-social-login-provider-list {
  display: flex;
  margin: 5px -3px 0;
  padding: 0;
}

.wp-social-login-provider-list a {
  margin: 0 3px;
}

.wp-social-login-connect-with {
  font-size: 14px;
  color: #777;
}
