.embed-responsive {
  display: block;
}

.embed-responsive_4-3,
.embed-responsive_3-2 {
  max-width: 600px;
}

.embed-responsive__inner {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: calc((9 / 16) * 100%); /* default ratio */
  overflow: hidden;
}

.embed-responsive_3-2 .embed-responsive__inner {
  padding-bottom: calc((2 / 3) * 100%);
}

.embed-responsive_4-3 .embed-responsive__inner {
  padding-bottom: calc((3 / 4) * 100%);
}

.embed-responsive_16-9 .embed-responsive__inner {
  padding-bottom: calc((9 / 16) * 100%);
}

.embed-responsive__inner .embed-responsive-item,
.embed-responsive__inner iframe,
.embed-responsive__inner embed,
.embed-responsive__inner object,
.embed-responsive__inner video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
