.nav-tax__caption {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #adadad;
}

.nav-tax__caption::before {
  content: '\E801';
  font-family: "fontello";
  font-size: 12px;
  margin-right: 5px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.nav-tax_tag .nav-tax__caption::before {
  content: '\E800';
}
