.tags {
  margin: 0 -8px -6px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  padding: 0 8px;
  margin-bottom: 6px;
}

.tags__item_active > .tags__link {
  text-decoration: none;
}

.tags__item_active > .tags__link {
  color: #343b3e;
}
