@import './module/search-result/search-result.css';

.search-form {
  position: relative;
  z-index: 2;
}

.search-form__field {
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
  border: 1px solid #dfe7eb;
  opacity: .8;
  transition: width .3s, opacity .4s;
}

.search-form_nav .search-form__field {
  width: 200px;
}

.search-form_has-result .search-form__field,
.search-form_nav .search-form__field:focus {
  width: 290px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, .4);
}

.search-form_has-result .search-form__field {
  border-radius: 15px 15px 0 0;
}

.search-form__field:focus,
.search-form__field:hover {
  opacity: 1;
}

.search-form__button {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  height: 32px;
  width: 32px;
  padding: 0;
  background: rgb(209, 0, 0);
  border: 1px solid rgb(184, 1, 1);
  border-radius: 100%;
  opacity: .9;
  font-size: 18px;
  color: #fff;
}

.search-form__field:focus + .search-form__button {
  opacity: 1;
}

.search-form__result {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

@media (min-width: 768px) {
  .search-form_nav .search-form__field {
    width: 230px;
  }

  .search-form_has-result .search-form__field,
  .search-form_nav .search-form__field:focus {
    width: 350px;
  }
}
