<form class="search-form {{mod}} {{mix}}" id="search-form">
  <input type="text" class="search-form__field" placeholder="Поиск ..." name="s" autocomplete="off" />
  <button type="submit" class="button search-form__button"><i class="icon-search"></i></button>
  <ul class="search-result search-form__result">
    {{!-- search-result_active --}}
    <li class="search-result__group search-result__group_category">
      {{!-- search-result__group_active --}}
      <div class="search-result__caption"><i class="icon-folder-open"></i> Категории</div>
      <ul class="search-result__list"></ul>
    </li>
    <li class="search-result__group search-result__group_tag">
      <div class="search-result__caption"><i class="icon-tags"></i> Теги</div>
      <ul class="search-result__list"></ul>
    </li>
    <li class="search-result__group search-result__group_post">
      <div class="search-result__caption"><i class="icon-doc-text"></i> Статьи</div>
      <ul class="search-result__list"></ul>
    </li>
  </ul>
</form>
