<article id="post-362" class="entry post-362 post type-post status-publish format-standard has-post-thumbnail hentry category-scooter tag-staff">
  <div class="entry__date">
  4.07.17 </div>
  <h2 class="entry__title"><a href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters" rel="bookmark">Какие бывают типы самокатов</a></h2>
  <div class="entry__tags"><i class="icon-tag"></i> <a href="/scooter">Самокат</a>, <a href="/tag/staff">Стафф</a></div>
  <!-- .entry__tags -->
  <a class="entry__thumbnail entry-thumb" href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters" aria-hidden="true">
    <img width="756" height="425" src="https://crazyk.ru/wp-content/uploads/2017/07/L4twc6-756x425.jpg" class="entry-thumb__img wp-post-image"
    alt="Какие бывают типы самокатов" srcset="https://crazyk.ru/wp-content/uploads/2017/07/L4twc6-756x425.jpg 756w, https://crazyk.ru/wp-content/uploads/2017/07/L4twc6-300x169.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/L4twc6-768x432.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/07/L4twc6-1024x576.jpg 1024w"
  sizes="(max-width: 756px) 100vw, 756px"></a>
  <!-- .post-thumbnail -->
  <div class="entry__content">
    <p>Они повсюду. Самокаты можно встретить в парке, на дороге, в метро и общественном транспорте. На них ездят и дети и
      бизнесмены. Разнообразие настолько широко, что часто не сразу понимаешь что видишь именно самокат. Очевидно этот
      форм фактор был есть и останется популярным еще долгие годы. Я решил разобраться с тем какие виды самокатов существуют
    и выделить их наиболее значимые конструктивные особенности.</p>
    <p class="more-link-wrap"> <a href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters" class="more-link">Читать далее</a></p>
  </div>
  <!-- .entry__content -->
  <div class="entry__author">
    <i class="icon-user"></i> Дмитрий Карякин
  </div>
</article>
<!-- #post-## -->
<article id="post-341" class="entry post-341 post type-post status-publish format-standard hentry category-kite-surfing tag-workshop">
  <div class="entry__date">
  27.06.17 </div>
  <h2 class="entry__title"><a href="https://crazyk.ru/2017/06/homemade-kiteboard-for-light-wind-plywood" rel="bookmark">Самодельный кайтборд из фанеры для слабого ветра</a></h2>
  <div class="entry__tags"><i class="icon-tag"></i> <a href="/kite-surfing">Кайт серфинг</a>, <a href="/tag/workshop">Мастерская</a></div>
  <!-- .entry__tags -->
  <div class="entry__content">
    <p>Недавно с другом начали осваивать кайт. Кайт есть у каждого, а доска только у друга. Договорились пока учимся, кататься
      по очереди — один в воде с доской и кайтом, другой на берегу в гидрике наблюдает и в случае необходимости всегда
    готов оказать помощь.</p>
    <p>До недавнего времени такой подход прокатывал, но как только начало получаться сразу стало ясно — одной доски нам мало.
      Кроме того умелые райдеры подсказали, что наша доска мала для новичков, особенно в слабый ветер. Тратиться на большую
      доску (150 — 160 см.), особенно для первого времени не хотелось, поэтому мы решили смастерить её самостоятельно.
      За основу мы взяли лист фанеры толщиной 10 мм. Как выяснилось стандартный размер фанеры который можно приобрести
    в магазинах нашего города составляет 152*152 см. что и определило максимальный размер нашей будущей двери.</p>
  </div>
  <!-- .entry__content -->
  <div class="entry__author">
    <i class="icon-user"></i> Дмитрий Карякин
  </div>
</article>
<!-- #post-## -->
<article id="post-238" class="entry post-238 post type-post status-publish format-standard has-post-thumbnail hentry category-bicycle tag-dictionary">
  <div class="entry__date">
  14.06.17 </div>
  <h2 class="entry__title"><a href="https://crazyk.ru/2017/06/brevet-definition" rel="bookmark">Бревет</a></h2>
  <div class="entry__tags"><i class="icon-tag"></i> <a href="/bicycle">Велосипед</a>, <a href="/tag/dictionary">Словарь</a></div>
  <!-- .entry__tags -->
  <a class="entry__thumbnail entry-thumb" href="https://crazyk.ru/2017/06/brevet-definition" aria-hidden="true">
    <img width="755" height="425" src="https://crazyk.ru/wp-content/uploads/2017/06/JRWQP5E0d6kcrop-755x425.jpg" class="entry-thumb__img wp-post-image"
    alt="Бревет" srcset="https://crazyk.ru/wp-content/uploads/2017/06/JRWQP5E0d6kcrop-755x425.jpg 755w, https://crazyk.ru/wp-content/uploads/2017/06/JRWQP5E0d6kcrop-768x432.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/06/JRWQP5E0d6kcrop-1024x576.jpg 1024w, https://crazyk.ru/wp-content/uploads/2017/06/JRWQP5E0d6kcrop.jpg 1080w"
  sizes="(max-width: 755px) 100vw, 755px"> </a>
  <!-- .post-thumbnail -->
  <div class="entry__content">
    <p><strong>Бревет </strong>— организованный зачётный (с лимитом времени) велозаезд на длинную дистанцию. Стандартными
      дистанциями являются 200, 300, 400, 600, 1000 и 1200 км. Велосипедиста который укладывается в установленное время
    называют рандоннером.</p>
    <h2>Временные лимиты для прохождения бреветов</h2>
    <p>200 км&nbsp; – 13.5 часов&nbsp;(14 часов в Великобритании)<br> 300 км&nbsp; – 20&nbsp;часов<br> 400 км&nbsp;– 27&nbsp;часов<br>        600 км&nbsp;– 40&nbsp;часов<br> 1,000 км&nbsp;– 75&nbsp;часов<br> 1,200 км&nbsp;– 90 часов&nbsp;(или 80 или 84)<br>        1,400 км&nbsp; – 116:40 часов&nbsp;(либо 105:16 часов&nbsp;либо&nbsp;93:20 часов)</p>
    <p class="more-link-wrap"> <a href="https://crazyk.ru/2017/06/brevet-definition" class="more-link">Читать далее</a></p>
  </div>
  <!-- .entry__content -->
  <div class="entry__author">
    <i class="icon-user"></i> Дмитрий Карякин
  </div>
</article>
<!-- #post-## -->
<article id="post-171" class="entry post-171 post type-post status-publish format-standard has-post-thumbnail hentry category-roller-skates tag-movies">
  <div class="entry__date">
  12.05.17 </div>
  <h2 class="entry__title"><a href="https://crazyk.ru/2017/05/winged-rollers-airborne-film" rel="bookmark">Крылатые роллеры (Airborne)</a></h2>
  <div class="entry__tags"><i class="icon-tag"></i> <a href="/roller-skates">Ролики</a>, <a href="/tag/movies">Фильмы</a></div>
  <!-- .entry__tags -->
  <a class="entry__thumbnail entry-thumb" href="https://crazyk.ru/2017/05/winged-rollers-airborne-film" aria-hidden="true">
    <img width="375" height="500" src="https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1-375x500.jpeg" class="entry-thumb__img wp-post-image"
    alt="Крылатые роллеры (Airborne)" srcset="https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1-375x500.jpeg 375w, https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1-768x1024.jpeg 768w, https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1.jpeg 799w"
  sizes="(max-width: 375px) 100vw, 375px"> </a>
  <!-- .post-thumbnail -->
  <div class="entry__content">
    <p>Из жаркой и солнечной Калифорнии Митчелл Гузен приезжает в Цинциннати, где встречает холодный прием местных сверстников.
    Искусный роллер, Митчелл еще должен завоевать право быть своим в новой компании.</p>
    <p class="more-link-wrap"> <a href="https://crazyk.ru/2017/05/winged-rollers-airborne-film" class="more-link">Читать далее</a></p>
  </div>
  <!-- .entry__content -->
  <div class="entry__author">
    <i class="icon-user"></i> Дмитрий Карякин
  </div>
</article>
<!-- #post-## -->
<article id="post-169" class="entry post-169 post type-post status-publish format-standard hentry category-skateboard tag-stunt">
  <div class="entry__date">
  12.05.17 </div>
  <h2 class="entry__title"><a href="https://crazyk.ru/2017/05/switch-ollie-skateboard" rel="bookmark">Switch ollie</a></h2>
  <div class="entry__tags"><i class="icon-tag"></i> <a href="/skateboard">Скейтборд</a>, <a href="/tag/stunt">Трюки</a></div>
  <!-- .entry__tags -->
  <div class="entry__content">
      <p><span class="embed-responsive embed-responsive_16-9"><span class="embed-responsive__inner"><iframe width="500" height="281" src="https://www.youtube.com/embed/VXMhdGCT2DM?feature=oembed" frameborder="0" allowfullscreen=""></iframe></span></span></p>
    <p>Трюк с которого стоит начать!</p>
  </div>
  <!-- .entry__content -->
  <div class="entry__author">
    <i class="icon-user"></i> Дмитрий Карякин
  </div>
</article>
<!-- #post-## -->
