.logo {
  display: block;
  width: 132px;
  height: 50px;
  background: url(img/logo-mob.png) no-repeat center center / 132px auto;
  margin: 0 auto;
}

@media  (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .logo {
    background-image: url(img/logo-mob@2x.png);
  }
}

@media (min-width: 768px) {
  .logo {
    width: 270px;
    height: 103px;
    background: url(img/logo.png) no-repeat center center / 270px auto;
  }

  @media  (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .logo {
      background-image: url(img/logo@2x.png);
    }
  }
}