.base {
  position: relative;
  margin: 0 auto 1.5rem;
  padding-bottom: 60px;
}

.base_open {
  max-width: 808px;
  padding-bottom: 50px;
}

.base__arrow {
  position: absolute;
  left: 10px;
  bottom: 0px;
  display: flex;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 3px 13px rgba(0, 0, 0, .4);
  opacity: .9;
  z-index: 1;
  transition: opacity .3s;
  justify-content: center;
  align-items: center;
}

.base_open .base__arrow {
  display: none;
}

.base__arrow:not(.base__arrow_disabled):hover {
  opacity: 1;
  cursor: pointer;
}

.base__arrow::after {
  content: '\E80C';
  display: block;
  font-family: "fontello";
  font-size: 16px;
  color: #404142;
}

.base__arrow_next {
  left: auto;
  right: 10px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, .4);
}

.base__arrow_next::after {
  content: '\E80E';
}

.base__arrow_disabled {
  opacity: .2;
}

.base__toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -25px;
  border-radius: 100%;
  cursor: pointer;
  background: #00aaff;
  color: #404142;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 13px rgba(0, 0, 0, .4);
  opacity: .9;
  transition: opacity .3s;
}

.base__toggle::before {
  content: '\E80B';
  font-family: "fontello";
  font-size: 18px;
}

.base__toggle:hover {
  opacity: 1;
}

.base_open .base__toggle::before {
  margin-top: 1px;
  font-size: 24px;
  content: '\E80D';
}

.base__track {
  overflow-x: hidden;
}

.base__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  transition: transform .3s;
}

.base_open .base__list {
  justify-content: center;
  flex-wrap: wrap;
  transition: none;
}

.base__item {
  flex-shrink: 0;
  width: 33.33%;
  padding: 0 4px;
}

.base_open .base__item {
  margin-bottom: 8px;
}

.base__link {
  display: block;
  padding: 66% 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  position: relative;
  transition: filter .3s;
}

.base:hover .base__link {
  color: #fff;
}

.base__link:hover {
  filter: contrast(150%) brightness(110%);
}

.base__caption {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 4px;
  text-shadow: 0 0 2px #000;
}

@media (min-width: 480px) {
  .base__item {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .base {
    padding-bottom: 0;
  }

  .base__item {
    width: 20%;
  }

  .base_open .base__item {
    width: 25%;
  }

  .base__arrow {
    width: 60px;
    height: 60px;
    bottom: 50%;
    margin-bottom: -30px;
  }

  .base__arrow::after {
    font-size: 20px;
  }

  .base__toggle {
    bottom: -23px;
  }

  .base_open .base__toggle {
    bottom: -15px;
  }
}

@media (min-width: 922px) {
  .base__item {
    width: 14.285714%;
  }
}

@media (min-width: 1200px) {
  .base__item {
    width: 12.5%;
  }
}

@media (min-width: 1920px) {
  .base__item {
    width: 10%;
  }
}
