<nav class="nav">
  <div class="base nav__base">
    <div class="base__arrow base__arrow_prev base__arrow_disabled"></div>
    <div class="base__track">
      <ul class="base__list">
        {{#each base}}
          <li class="base__item">
            <a href="#" class="base__link" style="background-image: url({{../path.chunks}}base/img/{{img}}.jpg);">
              <span class="base__caption">{{name}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="base__arrow base__arrow_next"></div>
    <div class="base__toggle"></div>
  </div>
  <div class="container nav__tax">
    <div class="nav-tax nav-tax_category nav__category">
      <div class="nav-tax__caption">Категория:</div>
      <div class="nav-tax__content"><a href="#">Сноуборд</a></div>
    </div>
    <div class="nav-tax nav-tax_tag nav__tag">
      <div class="nav-tax__caption">Теги:</div>
      <ul class="tags nav-tax__content">
        {{#each tags}}
          <li class="tags__item"><a href="#" class="tags__link">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="nav__search">
    {{> search-form mod="search-form_nav"}}
  </div>
</nav>
