.nav {
  position: relative;
  margin-top: calc(2rem + 20px);
}

.nav__tax {
  margin: 1.5rem auto -1rem;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.nav__category,
.nav__tag {
  margin-bottom: 1rem;
}

.nav__category {
  margin-right: 50px;
}

.nav__search {
  position: absolute;
  top: -39px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .nav {
    margin-top: 16px;
  }

  .nav__tax {
    margin-top: 2.5rem;
    font-size: 16px;
    flex-wrap: nowrap;
  }

  .nav__search {
    top: -20px;
  }
}
