<nav class="navigation pagination" role="navigation">
  <div class="nav-links">
    <a class="prev page-numbers" href="http://crazyk.ru/"><i class="icon-left"></i></a>
    <a class="page-numbers" href="http://crazyk.ru/">1</a>
    <span class="page-numbers current">2</span>
    <a class="page-numbers" href="http://crazyk.ru/page/3">3</a>
    <a class="next page-numbers" href="http://crazyk.ru/page/3"><i class="icon-right"></i></a>
  </div>
</nav>