.addtoany_share_save_container {
  margin: 1.25rem  0 2rem;
}

.addtoany_header {
  margin: 0 0 8px 0 !important;
  color: #777;
  font-size: 13px;
}

.addtoany_list {
  display: flex;
  margin: 5px -4px 0;
}

.addtoany_list a {
  display: block;
  padding: 0 4px;
}
