/*
* Список комментариев
*/

.comment-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.comment-meta {
  position: relative;
}

.comment-meta .says,
.comment-meta .fn,
.comment-meta .avatar {
  display: inline-block;
  vertical-align: middle;
}

.comment-meta .avatar {
  width: 42px;
  height: 42px;
}

.comment-meta .fn {
  margin-left: 4px;
}

.comment-metadata {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}

.comment-metadata a {
  color: #adadad;
  text-decoration: none;
}

.comment-metadata a:hover {
  color: #777777;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.comment {
  margin-bottom: 16px;
}

.comment .children {
  list-style-type: none;
  margin: 0;
  padding-left: 24px;
}

.comment-content {
  font-size: 16px;
  line-height: 1.3;
}

.comment-content p {
  margin: .5em 0 .3em;
}

.comment-reply-link {
  font-size: 12px;
  font-weight: bold;
  text-decoration-style: double;
}

.comment-body {
  margin-bottom: 2rem;
}

@keyframes awaiting-moderation {
  0% {
    background: #CDEB8B;
  }

  50% {
    background: rgba(0, 172, 240, .5);
  }

  100% {
    background: #CDEB8B;
  }
}

.comment-awaiting-moderation {
  margin-bottom: 0;
  margin-top: 4px;
  padding: 4px 8px;
  background-color: #CDEB8B;
  animation: awaiting-moderation 2s infinite;
  line-height: 1.3;
  font-size: 14px;
  display: inline-block;
  border-radius: 2px;
}

/*
* Форма комментирования
*/

.comment-reply-title {
  color: #343b3e;
}

.comment-reply-title small {
  font-size: 16px;
}

.comment-form-comment textarea {
  display: block;
  width: 100%;
  height: 80px;
  resize: none;
  padding: 8px;
  border-radius: 4px;
}

.comment-form-comment label {
  display: block;
}

.form-submit .submit {
  padding: .5rem .875rem;
  background: rgba(0, 172, 240, .6);
  border: none;
  border-radius: 4px;
  transition: background .3s;
  color: #fff;
}

.form-submit .submit:hover {
  background: rgba(0, 172, 240, 1);
}

.comment > .comment-respond {
  margin-bottom: 16px;
}

.comment .children .comment-respond {
  margin-bottom: 0;
}
