.author-meta {
  color: #777777;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.author-meta__photo {
  flex-shrink: 0;
  width: 90px;
}
.author-meta__photo img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.author-meta__intro {
  position: relative;
  margin-left: 1rem;
}

.author-meta__title {
  position: absolute;
  top: 0;
  right: 0;
  color: #adadad;
}

.author-meta__about {
  margin-top: 10px;
}
