{{#each scripts.lib as |script|}}
  <script src="{{../path.libs}}{{script}}.js"></script>
{{/each}}

{{#each scripts.chunks as |script|}}
  <script src="{{../path.chunks}}{{script}}/{{script}}.js"></script>
{{/each}}

